<div class="span12">
	<h1>SDCbook Wall</h1>
	<div class="row">
		<div class="span4">

		<%= simple_form_for StatusUpdate.new, :remote => true do |f| %>
			
			<%= f.input :content, :label => 'Share you thoughts:', :input_html => { :rows => 2, :class => 'span4' } %>
			<%= f.submit 'share', :class => 'btn btn-primary btn-small' %>
		<% end %>

		<br>
		<hr>
		<div id="status_updates">
			<%= render @status_updates %>
		</div>
		

	</div>
</div>
